# CDS-VIZ Session 1 - Introduction to Python

In [1]:
text_snippet = "It was the best of time, it was the worst of times"

In [2]:
text_snippet.upper()

'IT WAS THE BEST OF TIME, IT WAS THE WORST OF TIMES'

In [3]:
text_snippet.lower()

'it was the best of time, it was the worst of times'

In [6]:
type(text_snippet.split(","))

list

# Sequence types - list

In [7]:
colours = ["blue", "green", "red"]

In [8]:
type(colours[1])

str

In [9]:
user_data = ["mary", 42, 1.65]

In [10]:
big_list = [user_data, colours] # creating a new list containing two lists 
big_list = user_data + colours # concatenate the two lists into one list

In [11]:
big_list

[['mary', 42, 1.65], ['blue', 'green', 'red']]

In [12]:
big_list[0][1] # assessing the second element in the first list
big_list[0][0][0] # assessing the first character in the second element of the first list

42

In [14]:
colours.append("yellow") # adding a value to the end of the list

In [17]:
colours.remove("green")

ValueError: list.remove(x): x not in list

In [18]:
colours

['blue', 'red', 'yellow']

# Tuples

In [ ]:
colours_tup = ("blue", "green", "red") # obs. normal brackets, the tuple is fixed and therefore you cannot use append, remove functions etc.

# Dictionaries

In [19]:
user_ages = {"mary":42, "john":34} # obs. curly brackets, defining key-value pairs

In [20]:
user_ages["mary"] # search for the key "mary" and find the value

42

In [21]:
new_users = dict(mary =[42,1.65], 
                 john =[50,1.80],
                 alice =[24,1.83]) # the key followed by equals when using the dict() function

In [23]:
new_users["mary"][1] # find the height of mary

1.65

In [26]:
new_users = dict(mary={"age":42, "height":1.65},
                 john={"age":50, "height":1.80},
                 alice={"age":24, "height":1.83})

In [ ]:
new_users = {mary={"age":42, "height":1.65},
                 john={"age":50, "height":1.80},
                 alice={"age":24, "height":1.83}}

In [27]:
new_users["mary"]["age"]

42

# Number types

In [28]:
type(2)

int

In [29]:
type(2.1)

float

In [30]:
type(2.0)

float

In [31]:
float(2) # coercing an integer into a float

2.0

In [35]:
int(2.5) # will only give the integer part, i.e. 2

2

In [36]:
int(2.9999)

2

In [37]:
10/2 # regular division will always return a float

5.0

In [38]:
10//2 # floor division will always return the integer

5

In [39]:
11//2 # this also returns 5 because it returns an integer

5

### Boolean (bool) types

In [40]:
True == 1 # 1 represent true

True

In [41]:
False == 0 # 0 represent false

True